//- Все примеси в этом файле должны начинаться c имени блока ( social )

mixin social( mods )

    -
        //- класс блока
        var className = 'social';

        //- список модификаторов
        var allMods = '';
        if ( typeof mods !== 'undefined' && mods ) {
            var modsList = mods.split( ',' );
            for ( var i = 0; i < modsList.length; i++ ) {
                allMods += ' ' + className + '--' + modsList[i].trim();
            }
        }

    //- Данные списка
    include social.data.pug

    section( class=className + allMods )&attributes( attributes )

        //- список социальных сетей
        ul( class=className + '__list' )
            each item in socialInfoData
                if ( item.title )
                    li( class=className + '__item ' + className + '__item--' + item.title.toLowerCase() )
                        a( class=className + '__item-link', href='#', target='_blank', rel='nofollow noreferrer' )
                            span( class=className + '__item-text' )= item.title
                            !=item.icon