//- Все примеси в этом файле должны начинаться c имени блока ( presentation )

mixin presentation( mods )

    -
        //- класс блока
        var className = 'presentation';

        //- список модификаторов
        var allMods = '';
        if ( typeof mods !== 'undefined' && mods ) {
            var modsList = mods.split( ',' );
            for ( var i = 0; i < modsList.length; i++ ) {
                allMods = allMods + ' ' + className + '--' + modsList[i].trim();
            }
        }

    //- Данные
    include presentation.data.pug

    section( class=className + allMods )&attributes( attributes )
        div.container( class=className + '__container' )

            //- Слайдер
            div.swiper-container( class=className + '__carousel' )
                ul.swiper-wrapper( class=className + '__list' )
                    each item in presentationList
                        li.swiper-slide( class=className + '__item' )
                            picture
                                source( srcset=setting.imagesSrc + item.srcWP, type='image/webp' )
                                img( src=setting.imagesSrc + item.srcPNG, alt=item.title )
                            //- текстовое описание
                            div( class=className + '__description' )
                                span.category( class=className + '__category' ) Новинка
                                h2.title.title--big( class=className + '__title' ) Новый бренд BANWOOD
                                p( class=className + '__text' ) Чудесные ретро беговелы — идеальный выбор для вашего ребёнка!
                                +button( 'Подробнее', 'link-arrow' )( class=className + '__link', href='#' )
                                    include ../../theme/icons/arrow.data.pug
                                    include ../../theme/icons/arrow-long.data.pug
                ul( class=className + '__pagination' )
                p( class=className + '__arrows' )
                    +button( 'Предыдущий слайд', 'arrow' )( class=className + '__arrow ' + className + '__arrow--prev' )
                        include ../../theme/icons/arrow.data.pug
                    +button( 'Следующий слайд', 'arrow' )( class=className + '__arrow ' + className + '__arrow--next' )
                        include ../../theme/icons/arrow.data.pug
