//- Все примеси в этом файле должны начинаться c имени блока ( button )

//- Создаем кнопку
mixin button( text, mods, isInput )

    -
        //- класс контсруктора
        var className = 'button';

        // список модификаторов
        var allMods = '';
        if( typeof( mods ) !== 'undefined' && mods ) {
            var modsList = mods.split( ',' );
            for ( var i = 0; i < modsList.length; i++ ) {
                allMods = allMods + ' ' + className + '--' + modsList[i].trim();
            }
        }

    if ( attributes.href )
        a( class=className + allMods )&attributes( attributes )
            span!= text
            block

    //- если передан isInput и он true, это input
    else if ( typeof isInput !== 'undefined' && isInput )
        input( class=className + allMods, value=text, type='button' )&attributes( attributes )

    //- иначе это button
    else
        button( class=className + allMods )&attributes( attributes )
            span!= text
            block
