//- Главная страница
extends ../../layout/layout
include ../../blocks/journal/journal
include ../../blocks/gifts/gifts
include ../../blocks/suggestion/suggestion
include ../../blocks/brands/brands

block meta

  include index.data.pug

  title=title + " | " + siteName
  meta( name="description", content=description )
  meta( name="keywords", content=keywords )

block append head
  link( rel="canonical" href=siteURL + siteURN )
  link( rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" )
  link( rel="stylesheet" href="styles/index.min.css" )

block header
  div.container.page-header__container
    // -+logo()( class="page-header__logo" href=siteURL )

block main
  include ../../blocks/journal/journal.data.pug
  include ../../blocks/gifts/gifts.data.pug
  include ../../blocks/suggestion/suggestion.data.pug

  div.container.page-main__wrapper
    +journal( journalData1, 'direction-lr' )
    +gifts( giftsData1, 'direction-lr' )
  div.container.page-main__wrapper
    +journal( journalData2, 'direction-rl' )
    +gifts( giftsData2, 'direction-rl' )
  +suggestion( sugData1 )
  +suggestion( sugData2 )
  +brands()
  +info()

block append foot
  script( src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" )
  script( src="scripts/index.min.js" )