//- Все примеси в этом файле должны начинаться c имени блока ( brands )

mixin brands( mods )

    -
        //- класс блока
        var className = 'brands';

        //- список модификаторов
        var allMods = '';
        if ( typeof mods !== 'undefined' && mods ) {
            var modsList = mods.split( ',' );
            for ( var i = 0; i < modsList.length; i++ ) {
                allMods = allMods + ' ' + className + '--' + modsList[i].trim();
            }
        }

    //- Данные
    include brands.data.pug

    section( class=className + allMods )&attributes( attributes )
        div.container( class=className + '__container' )

            //- Слайдер
            div.swiper-container( class=className + '__carousel' )
                ul.swiper-wrapper( class=className + '__list' )
                    each item in brandsList
                        li.swiper-slide( class=className + '__item' )
                            picture
                                source( srcset=setting.imagesSrc + item.srcWP, type='image/webp' )
                                img( src=setting.imagesSrc + item.srcPNG, alt=item.title )

                //- Пагинация
                ul( class=className + '__pagination' )

                //- Кнопки
                p( class=className + '__arrows' )
                    +button( 'Предыдущий слайд', 'arrow' )( class=className + '__arrow ' + className + '__arrow--prev' )
                        include ../../theme/icons/arrow.data.pug
                    +button( 'Следующий слайд', 'arrow' )( class=className + '__arrow ' + className + '__arrow--next' )
                        include ../../theme/icons/arrow.data.pug